{% extends "layout.html" %}

{% block title %}
Followers
{% endblock %}

{% block style %}
<style>
.followers {
background-color: #e6ecf0;
color: #6C63FF;
border-radius: 30px;
    }
</style>
{% endblock %}

{% block main %}
<!--Profile Section-->
<div class="profile_page">
    <div class="profile_header">
        <h2>List of Followers</h2>
    </div>
    <!--Profile Pic & Name Section-->
    <div class="profile_pic_section">
        <div class="profile_pic">
            <img src="../static/images/uploads/{{profile.profile_pic_url}}" alt="">
        </div>
        <div class="accountname">
            <h2>{{ profile.user_user.name }}</h2>
            <div class="follower_following">
                <div class="now_watching activecolor"><a href="{{url_for('followers')}}">{{ follower_number }}
                        Followers</a></div>
                <div class="now_watching"><a href="{{url_for('following')}}">{{ following_number }} Following</a></div>
            </div>
        </div>
    </div>
    <!--End of Profile Pic & Name Section-->

    <!--Follower/Following List-->
    <div class="list">
        <table>
            {% for person in followers %}
            <tr>
                <th class="avatar_pic"><img src="../static/images/uploads/{{person.profile_pic_url}}" alt="" /></th>
                <th class="avatar_name">{{ person.name }} <span>@{{ person.username }}</span></th>
                <th>
                    <form action="{{url_for('followers')}}" method="post" name = {{person.username}}>
                        {{ form.hidden_tag() }}
                        {{ form.user_id(value = person.id, type = "hidden") }}
                        {{ form.remove(class = "remove-btn") }}
                    </form>    
                </th>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
    </div>
    {% endblock %}