{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

<!--Header & Add posts-->
{% block PostHeader %} 
        <div class="feed_header">
            <h2>Welcome!!!</h2>
        </div>
        <!--Blog Post Starts-->
        <div class="blogbox">
            <form method="post">
                <div class="bloginput">                            
                    <img src="../static/Images/default_profile.webp" alt=""/>
                    {{ form.hidden_tag() }}
                    {{ form.content(class="blogadd_input") }}
                </div>
                <div class="bloginput">
                    {{ form.upload(class="blogbox_input") }}
                </div>
                {{ form.submit(class="blogbox_button") }}
            </form>
        </div>
{% endblock %}

<!--Posts-->
{% block main %}
{% for post in posts %}
<div class="post">
    <div class="post_avatar">
        <img src="..//static/Images/default_profile.webp" alt="">
    </div>

    <div class="post_body">
        <div class="post_header">
            <div class="post_headerText">
                <h3>
                    {{ post.author.name }}
                    <span class="post_headerSpecial">
                        <span></span>@{{ post.author.username }}
                    </span>
                </h3>
            </div>
            <div class="post_content">
                <p>
                    {{ post.content }}
                </p>
            </div>
        </div>
        <img src = {{ post.content_url }} alt=""/>
    </div>
</div>
{% endfor %}
{% endblock %}