{% extends "layout.html" %}

{% block title %}
Micro-Blog
{% endblock %}

{% block style %}
<style>
.home {
background-color: #e6ecf0;
color: #6C63FF;
border-radius: 30px;
    }
</style>
{% endblock %}

<!--Header & Add posts-->
{% block main %}
<!--Add Post & Feed Area-->
<div class="feed">
    <div class="feed_header">
        <h2>Home</h2>
    </div>
    <!--Post Box-->
    <div class="postbox">
        <form method="post">
            <div class="postbox_input">
                <img src="../static/images/uploads/{{user_pic}}" alt="" />
                {{ form.hidden_tag() }}
                {{ form.content() }}
            </div>
            <div class="extra_content">
                <span class="material-symbols-outlined">image</span>
                <span>{{ form.image_url() }}</span>
                <span class="material-symbols-outlined">movie</span>
                <span>{{ form.video_url() }}</span>
            </div>
            {{ form.submit(class="post_button") }}
        </form>
    </div>
    <!--End of Post box-->

    <!--Post Section-->
    {% for post in posts %}
    <div class="post">
        <!--Profile Pic-->
        <div class="post_avatar">
            <img src="../static/images/uploads/{{post.profile_pic_url}}" alt="">
        </div>
        <!--Post Body-->
        <div class="post_body">
            <div class="post_header">
                <div class="postheader_text">
                    <h3>{{ post.author_name }}
                        <span class="post_header_username">@{{ post.author_username }}</span>
                    </h3>
                </div>
            </div>
            <div class="post_content">
                <p>
                    {{ post.content }}
                </p>
            </div>
            {% if post.image_url != None %}
            <img src = "{{ post.image_url }}" alt=""/>
            <br>
            {% elif post.video_url != None %}
            <iframe src="{{ post.video_url }}"> </iframe>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endblock %}