<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
    <!--Left sidebar-->
            <aside class="sidebar">
            <ul>
                <li>
                    <div class="sidebartitle">
                    <span class="material-symbols-outlined">hub</span>
                    <h2>Micro-Blog</h2>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebarOption active">
                            <span class="material-symbols-outlined">home_app_logo</span>
                            <h2>Home</h2>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebarOption">
                            <span class="material-symbols-outlined">explore</span>
                            <h2>Explore</h2>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebarOption">
                            <span class="material-symbols-outlined">account_circle</span>
                            <h2>Profile</h2>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebarOption">
                            <span class="material-symbols-outlined">group</span>
                            <h2>Followers</h2>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebarOption">
                            <span class="material-symbols-outlined"> logout </span>
                            <h2>Logout</h2>
                        </div>
                    </a>
                </li>
            </ul>
        </aside>
    <!--Left sidebar ends-->

    <!--Main Feed-->
        <main>
            <div class="feed">
                <div class="feed_header">
                    <h2>Welcome!!!</h2>
                </div>
                <!--Blog Post Starts-->
                <div class="blogbox">
                    <form action="#">
                        <div class="bloginput">
                            <img src="../static/Images/default_profile.webp" alt=""/>
                            <input type="text" name="" id="" placeholder="What's happening?"/>
                        </div>
                        <button class="blogbox_button">Post</button>
                    </form>
                </div>
                <!--Post Ends-->

                <!--Posts-->
                <div class="post">
                    <div class="post_avatar">
                        <img src="..//static/Images/default_profile.webp" alt="">
                    </div>

                    <div class="post_body">
                        <div class="post_header">
                            <div class="post_headerText">
                                <h3>
                                    Kapil Dave
                                    <span class="post_headerSpecial">
                                        <span></span>@davekapil98
                                    </span>
                                </h3>
                            </div>
                            <div class="post_content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                </p>
                            </div>
                        </div>

                        <img src="../static/Images/testing image.avif" alt=""/>
                    </div>
                </div>

                <div class="post">
                    <div class="post_avatar">
                        <img src="..//static/Images/default_profile.webp" alt="">
                    </div>

                    <div class="post_body">
                        <div class="post_header">
                            <div class="post_headerText">
                                <h3>
                                    Kapil Dave
                                    <span class="post_headerSpecial">
                                        <span></span>@davekapil98
                                    </span>
                                </h3>
                            </div>
                            <div class="post_content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                </p>
                            </div>
                        </div>

                        <img src="../static/Images/testing image.avif" alt=""/>
                    </div>
                </div>

                <div class="post">
                    <div class="post_avatar">
                        <img src="..//static/Images/default_profile.webp" alt="">
                    </div>

                    <div class="post_body">
                        <div class="post_header">
                            <div class="post_headerText">
                                <h3>
                                    Kapil Dave
                                    <span class="post_headerSpecial">
                                        <span></span>@davekapil98
                                    </span>
                                </h3>
                            </div>
                            <div class="post_content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="post">
                    <div class="post_avatar">
                        <img src="..//static/Images/default_profile.webp" alt="">
                    </div>

                    <div class="post_body">
                        <div class="post_header">
                            <div class="post_headerText">
                                <h3>
                                    Kapil Dave
                                    <span class="post_headerSpecial">
                                        <span></span>@davekapil98
                                    </span>
                                </h3>
                            </div>
                            <div class="post_content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                </p>
                            </div>
                        </div>

                        <img src="../static/Images/testing image.avif" alt=""/>
                    </div>
                </div>
            <!--Post ends-->
            </div>
        </main>
    <!--Main feed posting ends-->
    </div>

    {% block main %}{% endblock %}
    <script src="../static/main.js"></script>
</body>
</html>